.img-width{
    width: 200px;
}
.logo-img{
    width: 260px;
}
#carouselExampleIndicators{
    max-width: 100%;
    /* height: 416px; */
}
#body{
    @font-face {
        font-family: futurak.ttf;
        src: url(asset/futurak.ttf);
    }
}